.arrowbtn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid blue;
  border-radius: 50%;
  color: blue;
  cursor: pointer;
  line-height: 25px;
  transition: all 0.25s ease-in-out;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
}

.arrowbtn-down {
  margin: 2px;
  transform: rotate(180deg);
}

.space{
  margin-right: 5px;
}

.yumm {
  margin-left: 50px;
  margin-top: 25px;
}

.yuck {
  margin-left: 55px;
}